:root {
  --red: #db534b;
  --black: #343a40;
  --grey: #6c767d;
  --green: #5bb8a6;
}

main {
  margin: 2em;
}
.app-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}
 
p {
    line-height: 2rem;
}

.post p {
    white-space: pre-wrap;
}